local func = Instance.new("BindableFunction")

func.OnInvoke = function()
    setclipboard("https://discord.gg/FHVCAx2q7N")
end

game:GetService("StarterGui"):SetCore("SendNotification", {
    Title = "Update Script",
    Text = "Project Script Xander Hub",
    Button1 = "Copy Discord",
    Callback = func
})
