local func = Instance.new("BindableFunction")

func.OnInvoke = function()
    setclipboard("https://discord.gg/wpZMYEsZ")
end

game:GetService("StarterGui"):SetCore("SendNotification", {
    Title = "Update Script",
    Text = "This version of Project: Evolution is outdated",
    Button1 = "Copy Discord",
    Callback = func
})
